
#products_grid_before {
    display: none !important;
}

.o_wsale_products_categories,
.o_wsale_products_searchbar_form,
.o_wsale_products_attributes {
    display: none !important;
}

#footer {
    display: none !important;
}

#footer.o_footer {
    display: none !important;
}

.exo-footer {

    background: #001b3d;

    color: white;

    margin-top: 0;
}

/* CTA */

.exo-footer-cta {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 60px 100px;

    background:
        linear-gradient(
            90deg,
            #003570,
            #03133a
        );
}

.exo-footer-cta h2 {

    font-size: 42px;

    margin-bottom: 10px;
}

.exo-footer-btn {

    display: inline-flex;

    align-items: center;

    justify-content: center;

    padding: 18px 34px;

    background: white;

    color: #003570;

    border-radius: 12px;

    font-weight: 700;

    text-decoration: none;

    transition: 0.3s;
}

.exo-footer-btn:hover {

    transform: translateY(-2px);
}

/* MAIN */

.exo-footer-main {

    display: grid;

    grid-template-columns:
        1.5fr
        1fr
        1fr
        1fr;

    gap: 60px;

    padding: 80px 100px;
}

.exo-footer-logo {

    width: 180px;

    margin-bottom: 20px;
}

.exo-footer-col h3 {

    margin-bottom: 24px;

    font-size: 24px;
}

.exo-footer-col ul {

    list-style: none;

    padding: 0;
}

.exo-footer-col li {

    margin-bottom: 14px;
}

.exo-footer-col a {

    color: white;

    text-decoration: none;

    opacity: 0.85;

    transition: 0.3s;
}

.exo-footer-col a:hover {

    opacity: 1;
}

/* BOTTOM */

.exo-footer-bottom {

    border-top:
        1px solid rgba(255,255,255,0.1);

    padding: 30px 100px;

    text-align: center;

    opacity: 0.7;
}

.exo-footer-btn {

    min-width: 220px;

    text-align: center;
}
.exo-footer-cta-left {

    display: flex;

    align-items: center;

    gap: 30px;
}

.exo-footer-cta-text h2 {

    margin-bottom: 10px;

    font-size: 42px;
}

.exo-footer-cta-text p {

    margin: 0;

    opacity: 0.9;

    line-height: 1.6;
}
.exo-chat-icon img {

    width: 90px;

    height: 90px;

    object-fit: contain;
}

.o_footer_copyright {
    display: none !important;
}

footer:not(.exo-footer) {
    display: none !important;
}