.exo-header {
    width: 100%;
    background: white;
    border-bottom: 1px solid #e5e5e5;
    position: sticky;
    top: 0;
    z-index: 999;
}

.exo-header-container {
    max-width: 1400px;
    margin: auto;
    padding: 16px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exo-logo img {
    height: 48px;
    width: auto;
    display: block;
}

.exo-nav {
    display: flex;
    gap: 32px;
}

.exo-nav a {
    text-decoration: none;
    color: #111827;
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s;
}

.exo-nav a:hover {
    color: #00357a;
}