/* RESET */

body {

    margin: 0;

    font-family: Arial, sans-serif;
}

/* ENLEVER LE STYLE ODOO */

.container,
.container-fluid {

    max-width: 100% !important;

    padding: 0 !important;
}

main {

    padding: 0 !important;
}