# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtualenv
.venv/
venv/

# Odoo runtime
*.log
*.pid
*.db
filestore/
.sessions/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local build artifacts
.tmp_spec/
