# =========================
# Fichiers cache Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Sécurité (Variables d'environnement)
# =========================
.env
*.env

# =========================
# Environnements Virtuels Python
# =========================
venv/
env/
.venv/

# =========================
# Configuration Éditeurs (VS Code, etc.)
# =========================
.vscode/
.idea/
*.swp