@media (min-width: 768px) {
    .tire-icon-fuel {
        width: 1.4rem;
        height: 1.4rem;
    }

    .tire-icon-cloud {
        width: 1.6rem;
        height: 1.6rem;
    }

    .tire-icon-sound {
        width: 1.7rem;
        height: 1.7rem;
    }

    .tire-icon-season {
        width: 1.4rem;
        height: 1.4rem;
    }

    .three-pmsf {
        width: 2rem;
        height: 2rem;
    }
}

@media (max-width: 767px) {
    .tire-icon-fuel {
        width: 1.2rem;
        height: 1.2rem;
    }

    .tire-icon-cloud {
        width: 1.4rem;
        height: 1.4rem;
    }

    .tire-icon-sound {
        width: 1.5rem;
        height: 1.5rem;
    }

    .tire-icon-season {
        width: 1.2rem;
        height: 1.2rem;
    }

    .three-pmsf {
        width: 1.8rem;
        height: 1.8rem;
    }
}

/* TOOLTIP */
.tooltip-box {
    position: relative;
    display: inline-block;
}

.tooltip-box:hover>svg,
.tooltip-box:hover>img {
    opacity: 80%;
}

.tooltip-box .tooltip-text {
    visibility: hidden;
    position: absolute;
    bottom: 120%;
    left: 40%;
    transform: translateX(-50%);
    border-radius: 4px;
    z-index: 1000;
    padding: 1rem;
    font-size: 0.9rem;
    background: #fff;
    color: var(--secondary-color);
    min-width: 15vw;
}

.tooltip-box .tooltip-text-fuel {
    border: 3px solid #ffc107;
}

.tooltip-box .tooltip-text-cloud {
    border: 3px solid #17a2b8;
}

.tooltip-box .tooltip-text-sound {
    border: 3px solid #ffa142;
}

.tooltip-box .tooltip-text-summer {
    border: 3px solid #ffc107;
}

.tooltip-box .tooltip-text-winter {
    border: 3px solid #2fabbf;
}

.tooltip-box .tooltip-text-4seasons {
    border: 3px solid #2fabbf;
}

.tooltip-box .tooltip-text-3pmsf {
    border: 3px solid #676fbf;
}

.tooltip-box:hover .tooltip-text {
        visibility: visible;
    }

#product_details {
  z-index: 1 !important;
}

.s_attributes_horizontal {
    border-bottom: 1px solid var(--o-border-color);
}




.o_product_page_reviews_title[aria-expanded="false"] i:before {
    content: "\e809" !important;
}

.o_product_page_reviews_title[aria-expanded="true"] i:before {
    content: "\e80b" !important;
}




#oe_structure_website_sale_product_2 {
    margin-top: 0 !important;
}