@import 'variables.scss';

body {
    background-color: $body-bg;
    color: $body-color;
    font-family: $font-family-sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headings-font-family;
    font-weight: 800;
}

// Alternating Sections
.section-white {
    background-color: $color-white;
}

.section-gray-light {
    background-color: $color-gray-light;
}

.section-blue {
    background-color: $color-blue-slate;
    color: $color-white;
}

// Buttons
.btn-primary {
    background-color: $color-cyan;
    border-color: $color-cyan;
    color: $color-white;
    font-weight: 600;
    border-radius: $border-radius-base;
    
    &:hover {
        background-color: $color-cyan-hover;
        border-color: $color-cyan-hover;
    }
}
