/* custom_supplements/static/src/scss/primary_variables.scss */

// Couleurs principales (Odoo va générer les boutons et les badges avec ça)
$primary: #173A2E;      // Ton ancien --green
$secondary: #E07B39;    // Ton ancien --orange

// Typographie (Odoo l'appliquera partout proprement)
$font-family-sans-serif: 'Inter', sans-serif;
$headings-font-family: 'Fraunces', serif;

// Rayons des bordures globaux
$border-radius-lg: 28px;
$border-radius: 16px;
$border-radius-sm: 10px;