<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_auto_root" name="Automotive" sequence="40" groups="auto_base.group_auto_sales_advisor,auto_base.group_auto_admin,auto_base.group_auto_content_manager"/>

    <menuitem id="menu_auto_catalog" name="Catalog" parent="menu_auto_root" sequence="10"/>
    <menuitem id="menu_auto_configuration" name="Configuration" parent="menu_auto_root" sequence="30" groups="auto_base.group_auto_admin,auto_base.group_auto_content_manager"/>
</odoo>
